chk
__pycache__/

# Package build artifacts
*.egg-info/
dist/
build/

# Airflow
airflow.db
airflow.cfg
logs/
airflow-webserver.pid
docker/airflow/logs/
docker/airflow/plugins/__pycache__/

# MLflow
mlruns/
mlartifacts/
mlflow.db
.mlflow/

data/

.env
.venv-metal/
